
*{
  font-family: 'Gentium Book Basic','Josefin Sans';
}

.container{
  /* width: 100vw; */
  height: 100vh;
  display: flex;
  /* grid-template-rows: none;
  grid-template-columns: 1fr 1.15fr; */
  }

  
  .container-left{
    flex :1;
  background-color: black;
  margin: 0 ;
  display:flex;
  align-items:center ;
  justify-content:center;
  padding:2rem;
  }
  
  .text-container{
    /* margin-right:25rem; */
    padding : 50px;
    text-align:center;
    color:white;
    z-index:2;
  
  }
  .text-container h2 {
    padding-bottom: 2rem;
    font-weight: 900;
    font-size: 3rem;
    color:white;
  } 
  
  .text-container p {
    font-size: 2rem;
    /* line-height: 26px; */
    padding-bottom: 2rem;
    color:white;
  }
  .gif{
    display: none;
  }
  
  .btn2{
    margin-top : 2rem;
    padding: 0.8rem;
    border:1px solid white;
    border-radius: 20px;
    color: white;
    background-color: #EB0028;
    font-weight: 300;
    font-size: 2rem;
    cursor: pointer;
}
.btn1:hover{
    background-color: #EB0028;
    transition: all ease-in-out 350ms;
}
  .container-right{
  /* background-color: rgb(14, 14, 14); */
  display:flex;
 justify-content: center;
 align-items: center;
  background-color: black;
  flex:1;
  /* margin-top:12rem; */
  /* margin-right:5rem; */
  /* height:90%; */
  /* overflow:hidden; */
  }
  
   
  
  .pic-ctn {
    width: 80%;
    height: auto;
    background: rgb(14, 14, 14);
    /* background-size: cover; */
    margin-left:3rem;
    /* padding-top : 5rem; */
    /* position: relative;
    top: 12%;
    left: -15%; */
  }
  .pic-ctn img {
    margin-top:13rem;
    width: 40%;
    height: 60%;
    margin-left: 6rem;
    position: relative;
    /* top: 12%; */
    left: 27%;
  }
  
  @keyframes display {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0.5;
    }
    20% {
      opacity: 1;
    }
    30% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
    70% {
      opacity: 0.5;
    }
    100% {
      opacity: 0;
    }
  }
  
  .pic-ctn > img {
    position: absolute;
    /* top: 0; */
    opacity: 0;
    animation: display 10s infinite;
  }
  
  .container-right img:nth-child(2) {
    animation-delay: 2s;
  }
  .container-right img:nth-child(3) {
    animation-delay: 4s;
  }
  .container-right img:nth-child(4) {
    animation-delay: 6s;
  }
  .container-right img:nth-child(5) {
    animation-delay: 8s;
  } 
  
  
  
  @media screen and (max-width: 800px){
    .text-container{
      padding : 0px;
      text-align:center;
      background-color: black;;
      margin-right:0px;
    }
    .text-container p{
      font-size:16px;
      /* line-height: 20px; */
      padding-bottom: 0rem;
      color : white;
    }
    .text-container h2{
      color:white;
    }
    .container{
      flex-direction :column-reverse;
      /* grid-template-rows: 1fr ;
      grid-template-columns: none;
      height: max-content; */
    }
   .gif{
    display: block;
    background-image:url('https://i.pinimg.com/originals/df/e7/ee/dfe7eea5078808d7a116252bfd3fff3b.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:600px;
   }
    /* .container-right{
      display: none;
    } */
   /* .pic-ctn{
      display: none;
    } */
    .container-left{
      /* margin: 19vh 16vw 0vh 16vw; */
      text-align: center;
      margin-top:8rem;
    }
     .btn1 {
      margin: 0 2vw;
      padding: 2vw;
    }

    .container-right  {
      /* width: 40%;
      height: auto;
      background: rgb(14, 14, 14);
      background-size: cover;
      margin-left:12rem; */
      display:flex;
      align-items: center;
      justify-content: center;
      /* margin-top:30rem; */
      background-color: black;
      /* padding-top : 5rem; */
      /* position: relative;
      top: 12%;
      left: -15%; */
    }
    .pic-ctn{
      /* background-color: white; */
      margin-left:-4rem;
    }
    /* .pic-ctn img {
      margin-top:13rem;
      width: 80%;
      height: 40%;
      margin-left: 3rem;
      position: relative;
      top: 12%;
      left: 27%;
    } */
    .pic-ctn img{
      width: 80%;
      height: 40%;
      /* position: initial; */
      top: -2%;
      left:-3%;
    }
  }